<ion-header>
    <ion-navbar>
        <ion-title>
            Datetime
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content class="outer-content">
    <ion-list>
        <ion-item>
            <ion-label>
                开始日期
            </ion-label>
            <ion-datetime displayFormat="MMM DD YYYY" [(ngModel)]="event.month"></ion-datetime>
        </ion-item>

        <ion-item>
            <ion-label>
                开始时间
            </ion-label>
            <ion-datetime displayFormat="h:mm A" pickerFormat="h mm A" [(ngModel)]="event.timeStarts"></ion-datetime>
        </ion-item>

        <ion-item>
            <ion-label>Ends</ion-label>
            <ion-datetime displayFormat="MMM DD YYYY" [(ngModel)]="event.timeEnds"></ion-datetime>
        </ion-item>
    </ion-list>
</ion-content>