<ion-header>

  <ion-navbar>
    <ion-title>Card List</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="cards-bg">
  <ion-card-header>标题1 
    <!-- <p *ngIf="currentUserName">
        欢迎{{currentUserName}}
    </p> -->
  </ion-card-header>
  <ion-card-content>
    这是一张卡片的主题内容，这是一张卡片的主题内容， 这是一张卡片的主题内容，这是一张卡片的主题内容
  </ion-card-content>

  <ion-card-header>
    附近有……
  </ion-card-header>

  <ion-list>
    <button ion-item>
     <ion-icon name="cart" item-start></ion-icon>
     超市
   </button>

    <button ion-item>
      <ion-icon name='cafe' item-start></ion-icon>
      饮料店
    </button>

    <button ion-item>
      <ion-icon name='beer' item-start></ion-icon>
      酒吧
      </button>
  </ion-list>
</ion-content>