
<ion-header>
        <ion-navbar>
          <ion-title>Popovers</ion-title>
          <ion-buttons end>
            <button ion-button icon-only (click)="presentPopover($event)">
              <ion-icon name="more"></ion-icon>
            </button>
          </ion-buttons>
        </ion-navbar>
      </ion-header>
      
      <ion-content #popoverContent padding class="popover-page">
        <div #popoverText class="text-to-change">
            <ion-card>
                
                  <ion-card-content>
                    This is just your basic card with some text to boot. Like it?  Keep scrolling...
                  </ion-card-content>
                
                </ion-card>
          <div>
              &nbsp;&nbsp;&nbsp;&nbsp;嵇康生于魏文帝黄初五年（224年），一作黄初四年（223年）。其祖先本姓奚，住在会稽上虞（今浙江省绍兴市上虞区），其曾祖父后为躲避仇家，迁徙到谯国的铚县（今安徽省濉溪县临涣镇），并改姓为嵇。[6]  嵇康的父亲嵇昭，字子远，官至治书侍御史。嵇康的兄长嵇喜，早年即以秀才身份从军，有为官的志向，后历任太仆、扬州刺史、宗正等职。[7]  [8] 
              <h1>恬静无欲</h1>
              &nbsp;&nbsp;嵇康年幼丧父，由母亲和兄长抚养成人。幼年聪颖，博览群书，学习各种技艺。成年后喜读道家著作，身长七尺八寸，容止出众，然不注重打扮。后迎娶了沛王曹林之女长乐亭主为妻，因而获拜郎中，后任中散大夫。
              &nbsp;&nbsp;嵇康与长乐亭主育有一儿一女（其子即嵇绍）。他常修炼养性服食内丹之事，弹琴吟诗，自我满足。[11] 
              &nbsp;&nbsp;嵇康崇尚老庄，讲求养生服食之道，主张“越名教而任自然”的生活方式。他赞美古代隐者达士的事迹，向往出世的生活，不愿出仕为官。
              &nbsp;&nbsp;嵇康曾经游于山泽采药，得意之时，恍惚之间忘了回家。当时有砍柴的人遇到他，都认为是神仙。到汲郡山中见到隐士孙登，嵇康便跟他遨游。
              孙登沉默自守，不说什么话。嵇康临离开时，孙登说：“你性情刚烈而才气俊杰，怎么能免除灾祸啊？”嵇康又遇到隐士王烈，一道入山中，王烈曾得到石头的精髓饴糖，便自己吃了一半，余下一半给嵇康，都凝结为石头。
              又在石室中见到一卷白绢写的书，立即喊嵇康去取，而书就再也不见了。王烈于是感叹道：“嵇康志趣不同寻常却总是怀才不遇，这是命啊！”
          </div>
      
          <div>
            Mauris ac ligula elit. Nulla pulvinar eget leo ut aliquet. Praesent sit amet luctus quam. Nam fringilla iaculis mi, ut maximus mauris molestie feugiat. Curabitur nec scelerisque elit. Nunc eu odio facilisis, tempor enim eget, venenatis sem. Sed vitae lorem vehicula, auctor orci ultrices, finibus mauris. Donec vitae pulvinar diam. Nulla luctus congue quam, sed lacinia arcu dictum a.
          </div>
      
          <div>
            Morbi laoreet magna elit, id dapibus massa varius consequat. Praesent rhoncus nunc quam, eu mollis velit commodo ut. Etiam euismod elit mi, non auctor velit blandit ut. Aenean vitae pulvinar mi, ac pretium tellus. Morbi eu auctor sem, sollicitudin cursus felis. Praesent vestibulum velit sed eros iaculis ornare. Praesent diam diam, pellentesque eget scelerisque sed, bibendum ut risus. Sed sed fermentum sem. Integer vel justo felis. Proin eget quam est. In sit amet ipsum sagittis, convallis ipsum fringilla, interdum ante. Etiam vel tincidunt mauris. Nunc feugiat eros nunc, et vestibulum metus mollis et. Nullam eu viverra velit, id ultrices nisl. Donec non enim elementum, laoreet sapien id, feugiat tellus.
          </div>
      
          <div>
            Sed pellentesque ipsum eget ante hendrerit maximus. Aliquam id venenatis nulla. Nullam in nibh at enim vestibulum ullamcorper. Nam felis dolor, lobortis vel est non, condimentum malesuada nisl. In metus sapien, malesuada at nulla in, pretium aliquam turpis. Quisque elementum purus mi, sed tristique turpis ultricies in. Donec feugiat dolor non ultricies ultricies. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Proin ut purus et diam porta cursus vitae semper mi. Donec fringilla tellus orci. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nunc vitae commodo sem. Duis vehicula quam sit amet imperdiet facilisis. Pellentesque eget dignissim neque, et scelerisque libero. Maecenas molestie metus sed orci cursus, in venenatis justo dapibus.
          </div>
      
          <div>
            Aenean rhoncus urna at interdum blandit. Donec ac massa nec libero vehicula tincidunt. Sed sit amet hendrerit risus. Aliquam vitae vestibulum ipsum, non feugiat orci. Vivamus eu rutrum elit. Nulla dapibus tortor non dignissim pretium. Nulla in luctus turpis. Etiam non mattis tortor, at aliquet ex. Nunc ut ante varius, auctor dui vel, volutpat elit. Nunc laoreet augue sit amet ultrices porta. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Vestibulum pellentesque lobortis est, ut tincidunt ligula mollis sit amet. In porta risus arcu, quis pellentesque dolor mattis non. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
          </div>
        </div>
      </ion-content>
      