
<ion-header>
        <ion-navbar>
          <ion-title>滑动示例</ion-title>
        </ion-navbar>
      </ion-header>
      
      <ion-content class="outer-content">
        <ion-list>
          <ion-list-header>
            朋友
          </ion-list-header>
      

          <!-- <ion-item-sliding *ngFor="let item of list['member']" >
            <ion-item>
              <ion-avatar item-start>
                <img src="{{member.image}}">
              </ion-avatar>
              <h2>{{member.name}}</h2>
              <p> {{member.discrip}}</p>
            </ion-item>
            <ion-item-options>
              <button ion-button color="danger" icon-start>
                <ion-icon name="false"></ion-icon>
                删除
              </button>
              <button ion-button color="secondary" icon-start>
                <ion-icon name="arrow-up"></ion-icon>
                置顶
              </button>
              <button ion-button color="light" icon-start>
                <ion-icon name="ios-more"></ion-icon>
                    更多
              </button>
            </ion-item-options>
          </ion-item-sliding> -->
      
      
          <ion-item-sliding>
            <ion-item>
              <ion-avatar item-start>
                <img src="assets/img/cry1.jpg">
              </ion-avatar>
              <h2>Egon</h2>
              <p>We're gonna go full stream.</p>
            </ion-item>
            <ion-item-options>
              <button ion-button color="light" icon-start>
                <ion-icon name="ios-more"></ion-icon>
                More
              </button>
              <button ion-button color="primary" icon-start>
                <ion-icon name="text"></ion-icon>
                Text
              </button>
              <button ion-button color="secondary" icon-start>
                <ion-icon name="call"></ion-icon>
                Call
              </button>
            </ion-item-options>
          </ion-item-sliding>
      
          <ion-item-sliding>
            <ion-item>
              <ion-avatar item-start>
                <img src="assets/img/cry2.jpg">
              </ion-avatar>
              <h2>Ray</h2>
              <p>Ugly little spud, isn't he?</p>
            </ion-item>
            <ion-item-options>
              <button ion-button color="light" icon-start>
                <ion-icon name="ios-more"></ion-icon>
                More
              </button>
              <button ion-button color="primary" icon-start>
                <ion-icon name="text"></ion-icon>
                Text
              </button>
              <button ion-button color="secondary" icon-start>
                <ion-icon name="call"></ion-icon>
                Call
              </button>
            </ion-item-options>
          </ion-item-sliding>
      
          <ion-item-sliding>
            <ion-item>
              <ion-avatar item-start>
                <img src="assets/img/cry3.jpg">
              </ion-avatar>
              <h2>Winston</h2>
              <p>That's a big Twinkie.</p>
            </ion-item>
            <ion-item-options>
              <button ion-button color="light" icon-start>
                <ion-icon name="ios-more"></ion-icon>
                More
              </button>
              <button ion-button color="primary" icon-start>
                <ion-icon name="text"></ion-icon>
                Text
              </button>
              <button ion-button color="secondary" icon-start>
                <ion-icon name="call"></ion-icon>
                Call
              </button>
            </ion-item-options>
          </ion-item-sliding>
      
          <ion-item-sliding>
            <ion-item>
              <ion-avatar item-start>
                <img src="assets/img/cry4.jpg">
              </ion-avatar>
              <h2>Tully</h2>
              <p>Okay, who brought the dog?</p>
            </ion-item>
            <ion-item-options>
              <button ion-button color="light" icon-start>
                <ion-icon name="ios-more"></ion-icon>
                More
              </button>
              <button ion-button color="primary" icon-start>
                <ion-icon name="text"></ion-icon>
                Text
              </button>
              <button ion-button color="secondary" icon-start>
                <ion-icon name="call"></ion-icon>
                Call
              </button>
            </ion-item-options>
          </ion-item-sliding>
      
          <ion-item-sliding>
            <ion-item>
              <ion-avatar item-start>
                <img src="assets/img/mask.jpg">
              </ion-avatar>
              <h2>Dana</h2>
              <p>I am The Gatekeeper!</p>
            </ion-item>
            <ion-item-options>
              <button ion-button color="light" icon-start>
                <ion-icon name="ios-more"></ion-icon>
                More
              </button>
              <button ion-button color="primary" icon-start>
                <ion-icon name="text"></ion-icon>
                Text
              </button>
              <button ion-button color="secondary"icon-start >
                <ion-icon name="call"></ion-icon>
                Call
              </button>
            </ion-item-options>
          </ion-item-sliding>
      
        </ion-list>
      
        <ion-list>
          <ion-list-header>
            兴趣
          </ion-list-header>
      
          <ion-item-sliding>
            <ion-item>
              <ion-avatar item-start>
                <img src="assets/img/250.jpg">
              </ion-avatar>
              <h2>Slimer</h2>
              <p>Boo!</p>
            </ion-item>
            <ion-item-options>
              <button ion-button color="light" icon-start>
                <ion-icon name="ios-more"></ion-icon>
                More
              </button>
              <button ion-button color="primary" icon-start>
                <ion-icon name="text"></ion-icon>
                Text
              </button>
              <button ion-button color="secondary" icon-start>
                <ion-icon name="call"></ion-icon>
                Call
              </button>
            </ion-item-options>
          </ion-item-sliding>
      
          <ion-item-sliding>
            <ion-item>
              <ion-avatar item-start>
                <img src="assets/img/nana_head.jpg">
              </ion-avatar>
              <h2>Stay Puft Marshmallow Man</h2>
              <p>Never cross the streams!</p>
            </ion-item>
            <ion-item-options>
              <button ion-button color="light" icon-start>
                <ion-icon name="ios-more"></ion-icon>
                More
              </button>
              <button ion-button color="primary" icon-start>
                <ion-icon name="text"></ion-icon>
                Text
              </button>
              <button ion-button color="secondary" icon-start>
                <ion-icon name="call"></ion-icon>
                Call
              </button>
            </ion-item-options>
          </ion-item-sliding>
      
          <ion-item-sliding>
            <ion-item>
              <ion-avatar item-start>
                <img src="assets/img/gud.jpg">
              </ion-avatar>
              <h2>Gozer</h2>
              <p>Are you a God?</p>
            </ion-item>
            <ion-item-options>
              <button ion-button color="light" icon-start>
                <ion-icon name="ios-more"></ion-icon>
                More
              </button>
              <button ion-button color="primary" icon-start>
                <ion-icon name="text"></ion-icon>
                Text
              </button>
              <button ion-button color="secondary" icon-start>
                <ion-icon name="call"></ion-icon>
                Call
              </button>
            </ion-item-options>
          </ion-item-sliding>
      
        </ion-list>
      
      </ion-content>
      